@model List<MonAn>


   
       
            <div class="white_card_body QA_section">
                <div class="QA_table">
                    <table class="table lms_table_active2 p-0">
                        <thead>
                            <tr>
                                <th style="color: black; font-weight: bold; font-size: 17px;" scope="col"> Hình ảnh</th>
                                <th style="color: black; font-weight: bold; font-size: 17px;" scope="col">Tên sản phẩm</th>
                    <th style="color: black; font-weight: bold; font-size: 17px; width: 200px;" scope="col">Giá bán</th>
                    <th style="color: black; font-weight: bold; font-size: 17px;" scope="col">Mô tả ngắn</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var food in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="customer d-flex align-items-center">
                                            <div class="thumb_34 mr_15 mt-0">
                                    <img class="img-fluid radius_50"  src="~/new1/img/@food.HinhAnh" alt="@food.TenMon">
                                            </div>
                                            
                                        </div>
                                    </td>
                        <td style="color: #4154f1" class="f_s_14 f_w_400 ">@food.TenMon</td>
                        <td style="color: #4154f1" class="f_s_14 f_w_400">@food.GiaBan VNĐ</td>
                        <td style="color: #4154f1" class="f_s_14 f_w_400 ">@food.MoTaNgan</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        
  

